/*стилевой файл для проекта Device
содержание
1. подключение шрифтов
2.общие стили и основные стили для body
3.стили хедера
4.стили основного содержимого
    4.1. слайдер спец предложений
    4.2.блок категорий товаров (разделов)
    4.3.блок услуг (слайдер)
    4.4.блок производителей
    4.5.блоки информации "о нас" и контактов, объединены в div.columns
5.стили футера
6.модальные окна
7.стилизация уникального содержимого внутренней страницы
    7.1. заголовок и хлебные крошки
    7.2.фильтры и сортировка
    7.3.каталог товаров
    7.4.пагинация


*/
/*1.подключение шрифтов*/
@font-face {
    font-family: "Gilroy";
    font-weight: 300;
    font-style: normal;

    src: url("../fonts/gilroylight.woff2") format("woff2"),
    url("../fonts/gilroylight.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 800;
    font-style: normal;

    src: url("../fonts/gilroyextrabold.woff2") format("woff2"),
    url("../fonts/gilroyextrabold.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 300;
    font-style: normal;

    src: url("../fonts/opensans300.woff2") format("woff2"),
    url("../fonts/opensans300.woff") format("woff");
}

@font-face {
    font-family: "Open Sans";
    font-weight: 400;
    font-style: normal;

    src: url("../fonts/opensans400.woff2") format("woff2"),
    url("../fonts/opensans400.woff") format("woff");
}


/*2. общие стили и основные стили для body*/

/*outline для удобства при построении сетки*/
/** {
    outline: 2px solid rgba(100, 0, 0 ,.2);
}*/


body {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    font-style: normal;
    line-height: 30px;

    min-width: 1440px;
    margin: 0;
    padding: 0;

    color: #464646;
    background-color: #ffffff;
}

a {
    text-decoration: none;

    color: inherit;
}

/*
img {
    max-width: 100%;
    height: auto;
}*/

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;

    overflow: hidden;
    clip: rect(0 0 0 0);

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    white-space: nowrap;

    border: 0;

    clip-path: inset(100%);
}

.button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    display: inline-block;

    padding-top: 8px;
    padding-bottom: 8px;

    text-decoration: none;
    letter-spacing: 2.15px;
    text-transform: uppercase;

    color: #000000;
    border: none;
    background-color: #ffffff;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 41%, #f0c52e 41%, #f0c52e 59%, #ffffff 59%, #ffffff 100%);
}

/*эта кнопка во внутренней странице в фильтрах*/
.filters-form .button {
    background-color: #eeeeee;
    background-image: linear-gradient(to bottom, #efefef 0%, #efefef 41%, #f0c52e 41%, #f0c52e 59%, #efefef 59%, #efefef 100%);
}

.button:hover,
.button:focus {
    cursor: pointer;

    background-color: #f0c52e;
    background-image: none;
}

.button:active {
    color: rgba(0, 0, 0, 0.3);
    background-color: #f0c52e;
    background-image: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
    padding-right: 20px;
    padding-left: 20px;
}

/*3.стили хедера*/
.main-header {
    color: #000000;
    background-color: #ffffff;
}

.main-header-wrapper {
    display: flex;
    flex-direction: column;

    padding: 21px 60px 0;
    padding-bottom: 40px;

    background-color: #f8e296;
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 17.70%, #f8e296 17.70%, #f8e296 100%);

    flex-wrap: wrap;
}

.header-row {
    display: flex;

    flex-wrap: wrap;
}

.row1 {
    margin-bottom: 19px;
}

.row2 {
    flex-wrap: wrap;
    justify-content: space-between;
}


.main-header-logo {
    width: 164px;
    height: 36px;
    margin-bottom: 16px;
    margin-left: -1px;

    opacity: 1;
}

.main-header-logo:hover,
.main-header-logo:focus {
    opacity: 0.6;
}

.main-header-logo:active {
    opacity: 0.5;
}

.main-header-search {
    position: relative;

    display: flex;

    width: 441px;
    margin-right: 98px;

    flex-wrap: wrap;
}

.search {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    box-sizing: border-box;
    width: 355px;
    min-height: 49px;
    margin: 0;
    padding: 0 0 0 38px;
    padding-left: 38px;

    color: #000000;
    border: none;
    background-color: transparent;
    background-image: url(../img/search.svg);
    background-repeat: no-repeat;
    background-position: 3px 18px;
    background-size: 16px 16px;
}

.search ~ label {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    position: absolute;
    top: 10px;
    left: 38px;

    letter-spacing: 0.15px;

    opacity: 0.3;
    color: #464646;
}

.search:hover ~ label {
    opacity: 0.6;
}

.search:focus ~ label {
    opacity: 0;
}

.search:focus {
    border-bottom: 2px solid #000000;
}

/*как лучше скрыть кнопку, когда она в состоянии покоя?*/
.search-button {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    display: none;

    min-height: 49px;
    margin: 0;
    padding-top: 0;
    padding-right: 19px;
    padding-left: 18px;

    letter-spacing: 0.15px;

    color: #000000;
    border: 2px solid #000000;
    background-color: transparent;
}

.search:focus ~ .search-button {
    display: block;
}

.search-button:hover,
.search-button:focus {
    display: block;

    color: #ffffff;
    background-color: #000000;
}

.search-button:active {
    color: rgba(255, 255, 255, 0.3);
}

.user-navigation {
    display: flex;

    width: 500px;
    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
}

.user-navigation .compare-link-item {
    margin-left: auto;
}

.navigation-link {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;

    position: relative;

    display: block;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 27px;

    letter-spacing: 0.15px;

    color: #000000;
}

.navigation-link svg {
    position: absolute;
    top: 19px;
    left: 1px;
}

.compare-link-item {
    margin-right: 37px;
    margin-left: auto;
}

.navigation-compare-link svg {
    top: 21px;
    left: 8px;
}

.navigation-basket-link {
    margin-right: -1px;
}

.navigation-basket-link svg {
    left: 4px;
}

.profile-link {
    padding-left: 27px;
}

.logout-link {
    padding-left: 20px;

    opacity: 0.3;
}

.navigation-link:focus,
.navigation-link:hover {
    opacity: 0.6;
}

.navigation-link:active {
    opacity: 0.3;
}

.shop-options {
    display: flex;

    width: 500px;
    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
}

.header-shop-options {
    /*    margin-right: -4px;*/
    order: 2;
}

.shop-options a {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    display: block;

    padding-top: 10px;
    padding-bottom: 10px;

    text-align: right;
    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.shop-options li {
    margin-right: 34px;

    text-align: right;
}

.header-shop-options li:nth-child(3n) {
    margin-right: -4px;
    margin-left: auto;
}


.shop-options a:hover,
.shop-options a:focus {
    opacity: 0.6;
}

.shop-options a:active {
    opacity: 0.3;
}


/*меню навигации*/

.main-navigation {
    position: relative;

    display: flex;

    width: 300px;

    flex-wrap: wrap;
    order: 1;
}

.main-navigation-list {
    margin: 0;
    padding: 0;

    list-style: none;
}

.main-navigation-button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    display: block;

    margin-left: -1px;
    padding-top: 10px;
    padding-bottom: 10px;

    letter-spacing: 3.6px;
    text-transform: uppercase;

    color: #000000;
}

.main-navigation-button:hover,
.main-navigation-button:focus {
    opacity: 0.6;
}

.main-navigation-button:active {
    opacity: 0.3;
}

.main-navigation-item::after,
.main-navigation-item::before {
    position: absolute;
    top: 14px;
    left: 237px;

    display: block;

    width: 2px;
    height: 16px;

    content: "";

    background-color: #b9a974;
}

.main-navigation-item::after {
    transform: rotate(90deg);
    transform-origin: center;
}

/*выдвигающееся по ховеру меню*/
.main-navigation-submenu {
    position: absolute;
    z-index: 10;
    top: 35px;
    left: -60px;

    display: none;

    box-sizing: border-box;
    width: 1160px;
    margin: 0;
    padding: 0;
    padding: 10px 60px 34px;

    list-style: none;

    background-color: #f8e296;

    align-content: space-around;
    /*по ховеру display: flex;*/
    flex-wrap: wrap;
    justify-content: flex-start;
}

.submenu-category {
    width: 181px;
    margin: 0;
    margin-top: 10px;
    margin-right: 19px;
    padding: 0;

    list-style: none;
}

.submenu-category1 {
    width: 220px;
}

.main-navigation-submenu a {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 36px;

    letter-spacing: 0.15px;

    color: #000000;
}

.main-navigation-submenu a:hover,
.main-navigation-submenu a:focus {
    opacity: 0.6;
}

.main-navigation-submenu a:active {
    opacity: 0.3;
}

.main-navigation-item:hover .main-navigation-submenu {
    display: flex;
}

.main-navigation-button:focus ~ .main-navigation-submenu {
    display: flex;
}


/*4.стили основного содержимого*/
/*4.1. слайдер спец предложений*/

.special-offer-slider {
    position: relative;

    margin-bottom: 80px;

    color: #464646;
    background-color: #ffffff;
}

.special-offer-slider::before {
    position: absolute;
    z-index: 1;
    top: 39px;
    left: 620px;

    width: 100px;
    height: 7px;

    content: "";

    background-color: #ffffff;
}

.slider-container {
    position: relative;

    display: flex;

    width: 3480px;

    counter-reset: slides;
}

.slider-view-window {
    overflow: hidden;

    width: 1160px;
}

.special-offer-slide {
    position: relative;

    display: none;
    display: flex;

    width: 1160px;
    padding-top: 2px;

    counter-increment: slides;

    background-image: linear-gradient(to bottom, #f7e296 0%, #f7e296 22%, #ffffff 22%, #ffffff 100%);
}

.special-offer-slide::after {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 179px;
    font-weight: 800;
    line-height: 179.2px;

    position: absolute;
    z-index: 0;
    top: -13px;
    right: 47px;

    content: "0"counter(slides);
    letter-spacing: 0.36px;

    color: #ffffff;
}

.show-slide {
    display: flex;
}

.slide-column {
    width: 561px;
    margin-left: auto;
}

.special-offer-slide h3 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 56px;

    position: relative;
    z-index: 5;

    max-height: 220px;
    margin: 0;
    margin-top: 79px;
    padding: 0;

    text-align: left;
    letter-spacing: 0.7px;

    color: #000000;
}

.special-offer-photo {
    margin: 0;
    margin-left: 90px;
    padding: 0;
}

.special-offer-description {
    margin: 0;
    margin-top: 19px;
    margin-bottom: 43px;
    padding: 0;
    padding-right: 70px;

    text-align: left;
    letter-spacing: 0.15px;
}

.special-offer-link {
    display: inline-block;

    box-sizing: border-box;
    min-width: 220px;
    margin-bottom: 47px;
    margin-left: 1px;
    padding-right: 30px;
    padding-left: 42px;

    letter-spacing: 3.7px;
}

.special-offer-options {
    margin-bottom: 31px;
    margin-left: -3px;

    text-align: left;
}

.table-content {
    order: 1;
}

.special-offer-options th {
    font-size: 13px;
    font-weight: 300;
    line-height: 20px;

    box-sizing: border-box;
    padding-top: 4px;
    padding-right: 74px;
    padding-left: 2px;

    letter-spacing: 0.13px;
}

.special-offer-options td {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 36px;
    font-weight: 300;
    line-height: 48px;

    box-sizing: border-box;
    padding-right: 74px;

    letter-spacing: 0.36px;

    color: #000000;
    background-color: #ffffff;
}

.table-content td:nth-child(2) {
    padding-right: 73px;
    padding-left: 2px;
}

.table-header th:nth-child(3) {
    padding-left: 3px;
}

/*подгонка отдельных слайдов*/

.slide1 .special-offer-link {
    padding-left: 43px;
}

.slide2 .special-offer-photo {
    margin-top: 12px;
    margin-left: 116px;
}

.slide2 .special-offer-description {
    padding-right: 120px;
}

.slide3 .special-offer-photo {
    margin-top: 65px;
    margin-left: 31px;
}

.slide3 .special-offer-description {
    padding-right: 110px;
}

.slide3 td,
.slide3 th {
    padding-right: 42px;
}


/*переключатель слайдов - стилизация*/
.special-offer-tumbler {
    position: absolute;
    z-index: 100;
    top: 329px;
    right: 103px;

    display: flex;
}

.special-offer-label {
    display: block;

    width: 12px;
    height: 12px;
    margin-left: 21px;

    cursor: pointer;

    background-image: url("../img/slider-button-empty.svg");
    background-repeat: no-repeat;
    background-size: 12px 12px;
}

.special-offer-label {
    cursor: pointer;
}

input[id="offer-slide-radio1"]:focus ~ .special-offer-tumbler label[for="offer-slide-radio1"] {
    outline-width: 5px;
    outline-style: auto;
    outline-color: rgb(77, 144, 254);
    outline-offset: -2px;
}

input[id="offer-slide-radio2"]:focus ~ .special-offer-tumbler label[for="offer-slide-radio2"] {
    outline-width: 5px;
    outline-style: auto;
    outline-color: rgb(77, 144, 254);
    outline-offset: -2px;
}

input[id="offer-slide-radio3"]:focus ~ .special-offer-tumbler label[for="offer-slide-radio3"] {
    outline-width: 5px;
    outline-style: auto;
    outline-color: rgb(77, 144, 254);
    outline-offset: -2px;
}


input[id="offer-slide-radio1"]:checked ~ .special-offer-tumbler label[for="offer-slide-radio1"] {
    background-image: url("../img/slider-button.svg");
}

input[id="offer-slide-radio2"]:checked ~ .special-offer-tumbler label[for="offer-slide-radio2"] {
    background-image: url("../img/slider-button.svg");
}

input[id="offer-slide-radio3"]:checked ~ .special-offer-tumbler label[for="offer-slide-radio3"] {
    background-image: url("../img/slider-button.svg");
}

/*механизм переключения слайдов*/
input[id="offer-slide-radio1"]:checked ~ .slider-view-window .slider-container {
    transform: none;
}

input[id="offer-slide-radio2"]:checked ~ .slider-view-window .slider-container {
    transform: translateX(-1160px);
}

input[id="offer-slide-radio3"]:checked ~ .slider-view-window .slider-container {
    transform: translateX(-2320px);
}

/*4.2. блок категорий товаров (разделов)*/
.product-categories {
    margin-bottom: 81px;

    color: #000000;
    background-color: #ffffff;
}

.product-categories-list {
    display: flex;

    max-width: 1160px;
    margin: 0;
    padding: 0;

    list-style: none;

    flex-wrap: wrap;
    justify-content: space-between;
}

.product-categories-list li {
    display: flex;

    background-image: linear-gradient(to bottom, #f0c52e 0%, #f0c52e 66.39%, #ffffff 66.39%, #ffffff 100%);
}

.product-category {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    position: relative;

    display: block;

    box-sizing: border-box;
    width: 160px;
    padding-top: 193px;

    text-align: left;
    letter-spacing: 0.18px;

    color: #000000;
    background-color: #ffffff;
}

.category-monopods {
    padding-right: 40px;
}

.product-category::before {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;

    width: 160px;
    height: 160px;

    content: "";

    background-color: #f8e296;
    background-image: url(../img/popular-1.svg);
    background-repeat: no-repeat;
    background-position: 31px 52px;
    background-size: 97px 55px;
}

.category-monopods::before {
    background-image: url(../img/popular-2.svg);
    background-position: 38px 41px;
    background-size: 86px 117px;
}

.category-cameras,
.category-quadcopters {
    text-indent: -1px;
}

.category-cameras::before {
    background-image: url(../img/popular-3.svg);
    background-position: 49px 38px;
    background-size: 71px 87px;
}

.category-fitness::before {
    background-image: url(../img/popular-4.svg);
    background-position: 28px 50px;
    background-size: 107px 65px;
}

.category-clocks::before {
    background-image: url(../img/popular-5.svg);
    background-position: 55px 32px;
    background-size: 56px 98px;
}

.category-quadcopters::before {
    background-image: url(../img/popular-6.svg);
    background-position: 13px 49px;
    background-size: 132px 69px;
}

.product-category:hover::before,
.product-category:focus::before,
.product-category:active::before {
    background-color: #f0c52e;
}

.product-category:active {
    opacity: 0.3;
}

/*4.3.блок услуг (слайдер)*/
.services-slider {
    display: flex;

    margin-bottom: 94px;
    padding-bottom: 69px;

    color: #464646;
    background-color: #e5e5e5;
    background-image: linear-gradient(to bottom, #ffffff, #ffffff 100px, #e5e5e5 100px, #e5e5e5);

    justify-content: center;
}

.service-slider-wrapper {
    display: flex;

    width: 1160px;

    justify-content: flex-start;
}


.services-slider-tumbler {
    display: flex;
    flex-direction: column;

    min-width: 277px;
    padding-top: 80px;
    padding-bottom: 46px;

    border-right: 7px solid #000000;
}

.services-slider-tumbler .button {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    box-sizing: border-box;
    width: 160px;
    margin-bottom: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 2px;

    text-align: center;
    letter-spacing: 3.7px;
    text-transform: uppercase;

    color: #000000;
    background-image: linear-gradient(to bottom, #e5e5e5 0%, #e5e5e5 40%, #f0c52e 40%, #f0c52e 60%, #e5e5e5 60%, #e5e5e5 100%);
}

.services-slider-tumbler .button:first-child {
    background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 40%, #f0c52e 40%, #f0c52e 60%, #e5e5e5 60%, #e5e5e5 100%);
}

.services-slider-tumbler .delivery-button {
    padding-left: 10px;
}

.services-slider-tumbler .warranty-button {
    margin-bottom: 25px;
    padding-left: 4px;
}

.services-slider-tumbler .button:hover {
    background-color: #f0c52e;
    background-image: none;
}

.services-slide-radio:first-child:checked ~ .services-slider-tumbler label[for="services-slide-radio1"],
.services-slide-radio:nth-child(2):checked ~ .services-slider-tumbler label[for="services-slide-radio2"],
.services-slide-radio:nth-child(3):checked ~ .services-slider-tumbler label[for="services-slide-radio3"] {
    width: 100%;
    padding-right: 118px;
    padding-left: 5px;

    color: #f7e184;
    background-color: #000000;
    background-image: none;
}

.services-slide-radio:nth-child(2):checked ~ .services-slider-tumbler label[for="services-slide-radio2"],
.services-slide-radio:nth-child(3):checked ~ .services-slider-tumbler label[for="services-slide-radio3"] {
    padding-left: 12px;
}

.service-slide {
    position: relative;

    display: none;

    padding-top: 73px;
    padding-left: 116px;
}


.service-slide::after {
    position: absolute;

    width: 200px;
    height: 200px;

    content: "";

    background-repeat: no-repeat;
}

.service-slide1::after {
    top: 85px;
    left: 674px;

    background-image: url(../img/delivery.svg);
    background-position: 0 0;
    background-size: 136px 164px;
}


.service-slide2::after {
    top: 61px;
    left: 659px;

    background-image: url(../img/warranty.svg);
    background-position: 0 0;
    background-size: 171px 195px;
}

.service-slide3::after {
    top: 61px;
    left: 650px;

    background-image: url(../img/credit.svg);
    background-position: 0 0;
    background-size: 156px 188px;
}

.service-slide h3 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;

    max-width: 500px;
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
    padding-left: 1px;

    text-align: left;
    letter-spacing: 1px;

    color: #000000;
}

.service-slide p {
    width: 440px;
    margin: 0;
    padding: 0;

    text-align: left;
    letter-spacing: 0.25px;
}

/*механизм переключения слайдов*/
.services-slide-radio:first-child:checked ~ .services-slides-container .service-slide1 {
    display: flex;
}

.services-slide-radio[id="services-slide-radio1"]:checked ~ .services-slides-container .service-slide1 {
    display: block;
}

.services-slide-radio[id="services-slide-radio2"]:checked ~ .services-slides-container .service-slide2 {
    display: block;
}

.services-slide-radio[id="services-slide-radio3"]:checked ~ .services-slides-container .service-slide3 {
    display: block;
}

/*4.4.блок производителей*/
.manufacturers {
    margin-bottom: 93px;
}

.manufacturers-list {
    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    color: #000000;
    background-color: #ffffff;
}

.manufacturers-list li {
    margin-right: 40px;
}

.manufacturers-list li:nth-child(3) {
    margin-right: 37px;
}

.manufacturers-list li:last-child {
    margin-right: 0;
}

.manufacturers-list a {
    display: block;

    opacity: 0.2;

    filter: grayscale(1);
}

.manufacturers-list img {
    display: block;
}

.manufacturers-list a:hover,
.manufacturers-list a:focus,
.manufacturers-list a:active {
    opacity: 1;

    filter: none;
}

/*4.5.блоки информации "о нас" и контактов, объединены в div.columns*/
.columns {
    margin-bottom: 50px;

    color: #464646;
    background-color: #ffffff;
}

.columns-wrapper {
    display: flex;

    justify-content: space-between;
}

.columns-wrapper section {
    position: relative;

    width: 560px;
}

.columns h2 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;

    margin: 0;
    margin-top: 52px;
    margin-bottom: 43px;
    margin-left: -2px;
    padding: 0;

    text-align: left;
    letter-spacing: 0.5px;

    color: #000000;
    background-color: #ffffff;
}

.columns h2::before {
    position: absolute;
    top: 0;
    left: 0;

    width: 80px;
    height: 7px;

    content: "";

    background-color: #000000;
}

.contacts h2 {
    margin-left: -3px;
}

.columns p {
    box-sizing: border-box;
    margin: 0;
    margin-top: 30px;
    margin-left: -1px;
    padding: 0;

    text-align: left;
}

.info p {
    padding-right: 95px;

    letter-spacing: -0.17px;
}

.info p:first-of-type {
    letter-spacing: 0.13px;
}

.contacts p {
    margin-left: -2px;

    letter-spacing: 0.1px;
}

.contacts iframe {
    border: none;
}

.delivery-companies {
    margin: 0;
    margin-top: 66px;
    margin-bottom: 54px;
    padding: 0;

    list-style: none;
}

.delivery-companies li {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 40px;

    position: relative;

    margin: 0;
    padding: 0;
    padding-left: 35px;

    letter-spacing: 0.1px;

    color: #000000;
    background-color: #ffffff;
}

.delivery-companies li::before {
    position: absolute;
    top: 16px;
    left: 1px;

    box-sizing: border-box;
    width: 8px;
    height: 8px;

    content: "";

    border: 2px solid #e5e5e5;
    border-radius: 50%;
}

.columns .button {
    box-sizing: border-box;
    width: 260px;
    padding-left: 4px;

    text-align: center;
    letter-spacing: 3.7px;
}

.map-link {
    display: block;

    margin-top: 39px;
    margin-bottom: 60px;
}

.map-link .img {
    display: block;
}

.modal-map iframe {
    border: none;
}

/*5.стили футера*/
.main-footer {
    margin-top: 82px;
    padding-top: 53px;
    padding-bottom: 67px;

    color: #ffffff;
    background-color: #464646;
}

.main-footer .container {
    position: relative;
}

.footer-row {
    display: flex;
}

.footer-row1 {
    margin-bottom: 23px;

    justify-content: flex-end;
}

.footer-row2 {
    margin-bottom: 54px;
}

.footer-row3::after {
    position: absolute;
    position: absolute;
    bottom: 12px;
    left: 20px;

    width: 80px;
    height: 7px;

    content: "";

    background-color: #ffc600;
}

.main-footer .user-navigation,
.main-footer .user-options {
    margin: 0;
}

.footer-user-navigation.unlogged-user-navigation {
    width: 326px;
}

.footer-user-navigation.logged-user-navigation {
    width: 479px;
}

.footer-user-navigation path {
    fill: #ffc600;
}

.main-footer a {
    color: #ffffff;
    background-color: #464646;
}

.footer-logo {
    position: absolute;
    top: 12px;
}

.footer-logo:hover,
.footer-logo:focus,
.developer-button:hover,
.developer-button:focus {
    opacity: 0.6;
}

.footer-logo:active,
.developer-button:active {
    opacity: 0.3;
}

.main-footer .address {
    margin: 0;
    margin-right: 165px;
    margin-left: -1px;
    padding: 0;
    padding-top: 4px;
}

.main-footer .footer-shop-options {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    display: flex;

    margin: 0;
    padding: 0;

    list-style: none;

    text-align: center;
    text-align: right;
    letter-spacing: 3.6px;
    text-transform: uppercase;

    color: #ffffff;

    justify-content: left;
}

.footer-shop-options a {
    display: block;
}

.main-footer .phone {
    margin: 0;
    margin-left: auto;
    padding: 0;
    padding-top: 4px;
}

.footer-shop-options li {
    margin: 0;
    margin-right: 34px;
}

.footer-shop-options li:nth-child(2) {
    margin-right: 32px;
}

.footer-shop-options li:last-child {
    margin-right: 0;
}

.footer-social-links {
    display: flex;

    margin: 0;
    margin-right: auto;
    margin-left: auto;
    padding: 0;

    list-style: none;
}

.footer-social-links li {
    margin-left: 23px;
}

.footer-social-links li:last-child {
    margin-left: 22px;
    padding-right: 1px;
}

.footer-social-links li:first-child {
    margin-left: 0;
}

.social-button {
    display: block;

    width: 32px;
    height: 32px;

    opacity: 0.3;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 32px 32px;
}

.social-button:hover,
.social-button:focus {
    opacity: 0.6;
}

.social-button:active {
    opacity: 0.1;
}

.social-button-fb {
    background-image: url("../img/fb.svg");
}

.social-button-inst {
    background-image: url("../img/instagram.svg");
}

.social-button-tw {
    background-image: url("../img/twitter.svg");
}

.developer-button {
    position: absolute;
    right: 20px;
    bottom: -1px;

    display: block;
}

.developer-button img {
    display: block;

    padding: 0;
}

/*6.модальные окна*/
.modal {
    position: fixed;

    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(4, 6, 6, 0.2);
}

/*класс, закрывающий модальное окно*/
.modal-hidden {
    display: none;
}

.modal-feedback {
    z-index: 100;
    top: 50%;
    left: 50%;

    width: 760px;
    height: 460px;
    margin-top: -300px;
    margin-left: -435px;
    padding-top: 93px;
    padding-right: 100px;
    padding-left: 100px;
}

/*кнопка закрытия модального окна*/
.modal-close {
    position: absolute;
    top: 22px;
    right: 22px;

    width: 55px;
    height: 55px;

    opacity: 0.5;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    background-color: #f0c52e;
}

.modal-close:hover,
.modal-close:focus {
    opacity: 1;
}

.modal-close:active {
    opacity: 0.3;
}

.modal-close::before,
.modal-close::after {
    position: absolute;
    top: 13px;
    left: 26px;

    width: 2px;
    height: 29px;

    content: "";
    transform: rotate(45deg);
    transform-origin: center;

    background-color: #ffffff;
}

.modal-close::after {
    transform: rotate(-45deg);
}

.feedback {
    display: flex;

    flex-wrap: wrap;
    justify-content: space-between;
}

.column-group {
    width: 360px;
}

.feedback-label {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    display: block;

    padding-left: 1px;

    text-align: left;

    color: #000000;
    background-color: #ffffff;
}

.feedback-label[for="email-field"] {
    padding-left: 0;
}

.feedback-field {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    box-sizing: border-box;
    min-width: 360px;
    height: 50px;
    margin-top: 7px;
    margin-bottom: 33px;
    padding: 15px 20px 17px;

    resize: none;

    opacity: 0.5;
    color: #464646;
    border: none;
    background-color: #e5e5e5;
}

.feedback-field:hover,
.feedback-field:focus {
    opacity: 0.8;
}

.feedback-field:focus {
    opacity: 1;
    border: 3px solid #f8e296;
    background-color: #ffffff;
}

.feedback-field:invalid {
    color: rgba(70, 70, 70, 0.4);
    border: none;
    background-color: #f6dada;
}

.feedback-textarea {
    box-sizing: border-box;
    min-width: 760px;
    min-height: 156px;
    margin-bottom: 32px;
}

.modal-submit-button {
    display: block;

    width: 200px;
    padding-left: 8px;

    text-align: center;
    letter-spacing: 3.7px;
}

.modal-map {
    position: fixed;
    z-index: 100;
    top: 50%;
    left: 50%;

    width: 960px;
    height: 560px;
    margin-top: -280px;
    margin-left: -435px;
}


/*7.стилизация уникального содержимого внутренней страницы*/
/*7.1. заголовок и хлебные крошки*/

.inner-page .main-header {
    margin-bottom: 37px;
}

.inner-page .main-header-logo {
    position: relative;
    top: 2px;
}

.inner-page h1 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    line-height: 48px;

    margin: 0;
    margin-bottom: 24px;
    margin-left: 38px;
    padding: 0;

    letter-spacing: 0.6px;

    color: #000000;
    background-color: #ffffff;
}

.breadscrumbs-container {
    padding-left: 61px;
}

.breadscrumbs {
    display: flex;

    margin: 0;
    margin-bottom: 46px;
    margin-left: 39px;
    padding: 0;

    list-style: none;
}

.breadscrumbs li {
    position: relative;

    margin-right: 37px;
}

.breadscrumbs li:last-child {
    margin-right: 0;
}

.breadscrumbs li::after {
    position: absolute;
    top: 9px;
    right: -18px;

    width: 4px;
    height: 7px;

    content: "";

    background-image: url(../img/nav-arrow.svg);
    background-repeat: no-repeat;
    background-size: 4px 7px;
}

.breadscrumbs li:nth-child(2)::after {
    right: -21px;
}

.breadscrumbs li:last-child::after {
    display: none;
}

.breadscrumbs a,
.breadscrumbs-current {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    display: block;

    letter-spacing: 0.16px;

    opacity: 0.3;
    color: #000000;
    background-color: #ffffff;
}

.breadscrumbs a:hover,
.breadscrumbs a:focus,
.breadscrumbs-current:hover {
    opacity: 0.6;
}

.breadscrumbs a:active {
    opacity: 0.1;
}

/*7.2.фильтры и сортировка*/

.main-wrapper {
    display: flex;
    flex-direction: column;
}

.main-wrapper-row {
    display: flex;
    flex-direction: row;
}

.main-wrapper-row1 {
    background-image: linear-gradient(to right, #dbdbdb 0%, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%);
}

.main-wrapper-row2 {
    background-image: linear-gradient(to right, #eeeeee 0%, #eeeeee 50%, #ffffff 50%, #ffffff 100%);
}

.main-wrapper .container {
    display: flex;
}

.main-wrapper .container-reverse {
    flex-direction: row-reverse;
}

.sorting {
    display: flex;

    color: #000000;
}

/*сортировка*/

.sorting {
    padding: 23px 0;
    padding-left: 72px;
    /*margin-bottom: 69px;*/

    background-color: #ebebeb;

    flex-grow: 1;
}

.sorting h2 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    max-width: 180px;
    margin: 0;
    padding: 0;

    letter-spacing: 3.6px;
    text-transform: uppercase;
}

.sorting-list {
    display: flex;

    margin: 0;
    margin-left: 51px;
    padding: 0;
    padding-top: 2px;

    list-style: none;

    flex-wrap: wrap;
}

.sorting-list li {
    margin: 0;
    margin-right: 29px;
    padding: 0;
}

.sorting-list li:nth-child(2) {
    margin-right: 30px;
}

.sorting-item {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    display: block;

    opacity: 0.3;
    color: #000000;
}

.sorting-direction {
    display: flex;

    margin-left: auto;
    padding-top: 6px;
    /*    margin-left: 203px;*/
}

.sorting-type {
    margin-right: 19px;

    opacity: 0.2;
}

.sorting-item-increase,
.sorting-item-decrease {
    display: block;

    width: 11px;
    height: 11px;

    background-image: url("../img/icon-down-dir.svg");
    background-repeat: no-repeat;
    background-size: 11px 10px;
}

.sorting-item-increase {
    transform: rotate(180deg);
}

.sorting-item-decrease {
    margin-top: 1px;
    margin-right: 0;
}

.sorting-item:hover,
.sorting-item:focus {
    opacity: 0.6;
}

.sorting-item:active {
    opacity: 1;
}

.sorting-type:hover,
.sorting-type:focus {
    opacity: 0.4;
}

.sorting-type:active {
    opacity: 1;
}

.active-sorting-item {
    opacity: 1;
}

/*фильтры*/

/*размещен в другом диве (main-wrapper-row1) для центровки */
.filter-heading {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    box-sizing: border-box;
    width: 328px;
    margin: 0;
    padding: 23px 0 23px 60px;

    letter-spacing: 3.6px;
    text-transform: uppercase;

    background-color: #dbdbdb;
}

.filters {
    display: flex;
    flex-direction: column;

    background-color: #eeeeee;
}

.filters-form {
    box-sizing: border-box;
    width: 328px;
    padding-top: 69px;
    padding-left: 60px;
}

.filters-form fieldset {
    width: 201px;
    margin: 0;
    margin-left: -1px;
    padding: 0;
    padding-top: 7px;

    text-align: left;

    border: none;
    border-top: 2px solid #000000;
}

.filters .filter-form-label {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    margin-left: -1px;

    letter-spacing: 0.18px;
}

/*отрисовка состояний*/
.filters-form input:focus + label {
    outline: 2px solid #4d90fe;
}

.filters-form label:hover {
    cursor: pointer;
}

.filters-form input:focus + label::before {
    opacity: 0.6;
}

.filters-form label:hover::before,
.filters-form label:focus::before {
    cursor: pointer;

    opacity: 0.6;
}

.filters-form label:active::before {
    opacity: 1;
}

.filters-form input:disabled + label::before {
    opacity: 0.25;
}

/*фильтр стоимости*/

.range-controls {
    position: relative;

    width: 196px;
    height: 22px;
    margin-top: 22px;
    margin-bottom: 57px;
    margin-left: 5px;
}

.range-controls .scale {
    position: absolute;
    top: 10px;

    width: 196px;
    height: 2px;

    background-color: #dbdbdb;
}

.bar {
    position: absolute;

    width: 110px;
    height: 2px;

    background-color: #91c92f;
}

.toggle {
    position: absolute;

    width: 4px;
    height: 4px;
    padding: 0;

    cursor: pointer;

    border: 8px solid #ffffff;
    border-radius: 50%;
    background-color: #ababab;
    box-shadow: 0 1px 1px 1px #dadada;
}

.toggle:active {
    transform: scale(1.1);
}

.toggle-min {
    top: 0;
    left: -10px;
}

.toggle-max {
    top: 0;
    left: 103px;
}

.range-controls .price-label {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;

    position: absolute;

    opacity: 0.2;
    color: #000000;
}

.min-price {
    top: 21px;
    left: -6px;
}

.max-price {
    top: 21px;
    left: 85px;
}

/*фильтр цвета*/

.color-list {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 31px;
    padding: 0;

    list-style: none;
}

.color-list label {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;

    position: relative;

    padding-left: 39px;

    letter-spacing: 0.12px;

    color: #000000;
}

.color-list label::before {
    position: absolute;
    top: -2px;
    left: -1px;

    width: 27px;
    height: 23px;

    content: "";

    background-image: url(../img/checkbox-off.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: 23px 23px;
}

label[for="red-color-checkbox"]::before {
    top: -3px;
}

label[for="pink-color-checkbox"]::before {
    top: -3px;
    left: 0;
}

.color-list input:checked + label::before {
    background-image: url(../img/checkbox-on.svg);
    background-size: 27px 23px;
}


/*фильтр по наличию bluetooth*/

.bluetooth-filter .filter-form-label {
    display: block;

    margin-top: 3px;
    margin-bottom: 18px;
}

.bluetooth-filter .bluetooth-field-label {
    font-size: 14px;
    font-weight: 300;
    line-height: 40px;

    position: relative;

    display: block;

    padding-left: 39px;

    letter-spacing: 0.14px;
}

.bluetooth-field-label::before {
    position: absolute;
    top: 6px;
    left: -1px;

    box-sizing: border-box;
    width: 25px;
    height: 25px;

    content: "";

    border: 4px solid #000000;
    border-radius: 50%;
}

.bluetooth-field-label[for="bluetooth-false-field"]::before {
    top: 7px;
}

.bluetooth-field-label::after {
    position: absolute;
    top: 14px;
    left: 7px;

    display: none;

    box-sizing: border-box;
    width: 9px;
    height: 9px;

    content: "";

    border-radius: 50%;
    background-color: #000000;
}

.bluetooth-field-label[for="bluetooth-false-field"]::after {
    top: 15px;
}

input:checked + .bluetooth-field-label::after,
input:active + .bluetooth-field-label::after {
    display: block;
}

input:focus + .bluetooth-field-label::after,
.bluetooth-field-label:hover::after,
.bluetooth-field-label:focus::after {
    opacity: 0.6;
}

.bluetooth-field-label:hover::after {
    cursor: pointer;
}

.bluetooth-field-label:active::after {
    opacity: 1;
}

input:disabled + .bluetooth-field-label::after {
    opacity: 0.25;
}

/*кнопка отправки формы*/

.filters .button {
    display: block;

    width: 200px;
    margin-top: 31px;
    margin-left: -2px;
    padding-left: 10px;

    text-align: center;
    letter-spacing: 3.7px;
}


/*7.3.каталог товаров*/
.catalog {
    background-color: #ffffff;
}

.catalog-list {
    display: flex;

    margin: 0;
    padding: 0;
    padding-top: 69px;
    padding-left: 32px;

    list-style: none;

    background-color: #ffffff;

    flex-wrap: wrap;
}

.catalog-item {
    position: relative;

    margin: 0;
    margin-bottom: 46px;
    margin-left: 40px;
    padding: 0;
}

.catalog-item:nth-last-child(2),
.catalog-item:last-child {
    margin-bottom: 35px;
}

.new-catalog-item::before {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    line-height: 24px;

    position: absolute;
    top: 29px;
    right: 27px;

    box-sizing: border-box;
    width: 60px;
    height: 60px;
    padding-top: 17px;
    padding-left: 13px;

    content: "New";
    letter-spacing: 0.5px;
    text-transform: uppercase;

    color: rgba(0, 0, 0, 0.2);
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
}

.catalog-item-card {
    display: flex;

    width: 360px;

    flex-wrap: wrap;
}

.catalog-item-image {
    margin: 0;
    padding: 0;
}

.catalog-item img {
    display: block;
}

.catalog-item h3 {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;

    max-width: 260px;
    margin: 0;
    margin-top: 32px;
    margin-left: -1px;
    padding: 0;

    letter-spacing: 0.2px;

    color: #000000;
}

.catalog-item .short-heading {
    width: 173px;
}

.catalog-item-price {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;

    margin-top: 33px;
    margin-left: auto;

    letter-spacing: 0.25px;

    color: #464646;
}

.button-basket {
    position: absolute;
    z-index: 5;
    top: 180px;
    left: 80px;

    display: none;

    box-sizing: border-box;
    width: 200px;
    padding-left: 4px;

    text-align: center;

    background-color: transparent;
    background-image: none;
}

.button-basket::before {
    position: absolute;
    z-index: -1;
    top: 16px;
    left: 0;

    width: 100%;
    height: 8px;

    content: "";

    background-color: #f0c52e;
}

.compare-button {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 36px;

    position: absolute;
    top: 225px;
    left: 108px;

    display: none;

    letter-spacing: 0.13px;

    opacity: 0.5;
    color: #000000;
    border: none;
    background-color: transparent;
    background-image: none;
}

.compare-button:hover,
.compare-button:focus {
    cursor: pointer;

    opacity: 1;
}

.compare-button:active {
    opacity: 0.2;
}

.catalog-item:hover img {
    opacity: 0.7;
    cursor: pointer;
}

.catalog-item:hover .compare-button,
.catalog-item:hover .button-basket,
.catalog-item:focus .compare-button,
.catalog-item:focus .button-basket {
    display: block;
}

/*7.4.пагинация*/

.pagination-list {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 15px;
    font-weight: 800;
    line-height: 24px;

    display: flex;

    box-sizing: border-box;
    width: 760px;
    margin: 0;
    margin-bottom: 77px;
    margin-left: 72px;
    padding: 0;

    list-style: none;

    letter-spacing: 0.91px;
    text-transform: uppercase;

    color: #000000;
    background-color: #ebebeb;

    justify-content: space-between;
}

.page-numbers-list {
    display: flex;

    max-width: 550px;
    margin: 0;
    padding: 0;
    padding-left: 12px;

    list-style: none;

    flex-wrap: wrap;
}

.pagination-item {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 24px;

    letter-spacing: 3.6px;
    text-transform: uppercase;

    color: #000000;
    /*cursor: pointer;*/
}

.pagination-item-back {
    /*margin-right: 212px;*/
    padding-top: 24px;
    padding-right: 26px;
    padding-bottom: 22px;
    padding-left: 29px;
}

.pagination-item-next {
    /*margin-left: auto;*/
    padding-top: 24px;
    padding-right: 26px;
    padding-bottom: 22px;
    padding-left: 29px;
}

.pagination-way:hover,
.pagination-way:focus {
    background-color: #d8d8d8;
}

.pagination-way:active {
    opacity: 0.3;
}

.pagination-number {
    margin-right: 27px;
    padding-top: 25px;

    opacity: 0.3;
}

.pagination-number:last-child {
    margin-right: 0;
}

.pagination-number:hover,
.pagination-number:focus {
    opacity: 0.6;
}

.pagination-number:active {
    opacity: 1;
}

.pagination-item-current {
    opacity: 1;
}

.inner-page .main-footer {
    margin: 0;
}
